<%- include('partials/header.ejs'); -%>

<body>
    <header id="header" class="head">
            <h1>Jakyd's Book Notes</h1>
    </header>
    <main>        
        <div id="headerText" class="headText">
            <p> Tiny summary but detailed notes for each. 
                Use the <strong>ISBN number</strong> to find it from your 
                local library or anywhere else. </p>
            <p> This page will constantly update as I read more, so 
                bookmark it if you want to check back in a 
                few months.Sorted with my top recommendations 
                up top. Sort by title, newest, or best. </p>
            <p> And please read this FAQ page about these notes, 
                if you have any questions. You can also email me.</p>
            </p>
        </div>
        <div id="booksBlock" class="booksBlock">
            <div class="book">
                <img src="" alt="picture" width="200" height="300">
                <h2>First book</h2>
                <p style="font-style: italic;">Read date 28-12-2024. Recomendation 10/10</p>
                <p>This page will constantly update as I read more, so 
                    bookmark it if you want to check back in a 
                    few months.Sorted with my top recommendations 
                    up top. Sort by title, newest, or best. This page will constantly update as I read more, so 
                    bookmark it if you want to check back in a 
                    few months.Sorted with my top recommendations 
                    up top. Sort by title, newest, or best. This page will constantly update as I read more, so 
                    bookmark it if you want to check back in a 
                    few months.Sorted with my top recommendations 
                    up top. Sort by title, newest, or best.</p>
            </div>
            <div class="book">
                <img src="" alt="picture" width="200" height="300">
                <h2>Second book</h2>
                <p style="font-style: italic;">Read date 28-12-2024. Recomendation 10/10</p>
                <p>This page will constantly update as I read more, so 
                    bookmark it if you want to check back in a 
                    few months.Sorted with my top recommendations 
                    up top. Sort by title, newest, or best. This page will constantly update as I read more, so 
                    bookmark it if you want to check back in a 
                    few months.Sorted with my top recommendations 
                    up top. Sort by title, newest, or best. This page will constantly update as I read more, so 
                    bookmark it if you want to check back in a 
                    few months.Sorted with my top recommendations 
                    up top. Sort by title, newest, or best.</p>
            </div>
            
        </div>
    
<%- include('partials/footer.ejs'); -%>